@font-face{
  font-family: 'Natalie';
  src: url("../../fonts/Natalie.ttf") format("truetype");
}

.brand{
  font-family: 'Natalie';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand_logo-name-container{
  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
}

.brand_logo {
  fill: #35BFA3;
  stroke-width: 1px;
  width: 45px;
  margin-left: 5px;
  transform: rotate(308deg);
}

.brand_name {
  display: inline-flex;
  font-size: 2.5em;
  align-items: baseline;
  justify-content: flex-start;
  line-height: 1em;
  margin-left: 0px;
}

.brand_social {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
}

.brand_social-icon {
  cursor: pointer;
  margin: 0 7px;
}

@media only screen and (min-width: 768px) {
  .brand{
    margin-bottom: 25px;
    padding: 0 3%;
  }
  .brand_social{
    font-size: 2.2em;
    text-align: end;
  }

  .brand_logo {
    width: 75px;
    margin-left: 10px;
  }

  .brand_name {
    font-size: 4em;
    margin-left: 0px;
    font-size: 6em;;
  }

  .brand_social-icon{
    margin-left: 25px;
    padding: 0;
  }

}