.other-video{
  display: flex;
  cursor: pointer;
}

.other-video_image{
  width: 120px;
  padding: 15px 15px 0px 15px;
  align-items: center;
}

.other-video_description{
  display: flex;
  flex-direction: column;
}

.other-video_title{
  font-weight: bold;
  display: flex;
  font-size: 0.7em;
  align-items: center;
  padding: 15px 10px 0 0;
  box-sizing: border-box;
}

.other-video_date{
  font-size: 0.5em;
  color: #ddd;
  padding: 10px 10px 0 0;
}

.other-videos_title{
  font-family: 'Natalie';
  display: flex;
  box-sizing: border-box;
  padding-left: 15px;
  font-weight: bold;
}

.other-videos_title {
  font-family: 'Natalie';
  display: flex;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 1.5em;
}

.other-videos{
  display: block;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .other-video {
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-around;
    align-items: center;
  }

  .other-videos_title{
    font-size: 4em;
  }

  .other-video_image {
    width: 95%;
  }

  .other-video_title {
    padding: 5px;
    font-size: 0.8em;
  }

  .other-video_description {
    padding: 0 3%;
    width: 100%;
    box-sizing: border-box;
  }

  .other-video_date {
    font-size: 0.6em;
    padding: 0px 0px 0px 5px;
  }

  .other-videos {
    margin: 0 3% 20px;
  }

}